@charset "utf-8";

body{
    background-image: url(imagens/wallpaper001.jpg);
}
.quadrado{
    display: inline-block;
    border: 1px solid black;
    border-radius: 10px;
    background-color: lightgray;
    width: 300px;
    height: 300px;
}
#q1{
    background-color: skyblue;
}
#q2{
    background-image: linear-gradient(to bottom,yellow,red);
}
#q3{
    background-image: url(imagens/pattern003.png);
}