@charset "utf-8";

@media print { /* IMPRESSÃO */

    * {
        font-family: 'Courier New', Courier, monospace;
    }

    body {
        background-image: url(../imagens/back-print.jpg); /* desnecessário */
    }
    main{
        border: 2px solid black;
    }
    main::after{
        content: 'essa impressão foi feita atravé do site wwww.felippe_nobre.com';
        text-decoration: overline;
    }
    main h1{
        text-shadow: none;
        color: black;
    }
#phone{ display: none;}
#tablet{display: none;}
#print{display: block;}
#pc{display: none;}
#tv{display: none;}


}
@media screen and (min-width:768px) and (max-width:992px) {
    body{
        background-image: url(../imagens/back-tablet.jpg);
    }
#phone{ display: none;}
#tablet{display: block;}
#print{display: none;}
#pc{display: none;}
#tv{display: none;}

}

@media screen and (min-width: 992px) and (max-width:1200px) {
    body{
        background-image: url(../imagens/back-pc.jpg);
    }
#phone{ display: none;}
#tablet{display: none;}
#print{display: none;}
#pc{display:block;}
#tv{display: none;}

}

@media screen and (min-width:1200px) {
    body{
        background-image: url(../imagens/back-tv.jpg);
    }
    main{
        width: 700px;
    }

#phone{ display: none;}
#tablet{display: none;}
#print{display: none;}
#pc{display: none;}
#tv{display: block;}

}