@charset "utf-8";

body {
    background-color:  #d6fde9;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #1e402f;
}

#principal {
    text-align: center;
    background-color:#3c805e;
    color: white;
}

h2 {
    color: #3c805e;
}

.basico{
    color: aqua;
    

}

.itermediario{
    color: rebeccapurple;
}

.avancado{
    color: chocolate;
}

.destaque{
    background-color: #9a9a55a3;
}